<form [formGroup]="postFormData">
    <div class="main">
           
        <input placeholder="Enter the Employee's ID" formControlName="id" /><br />
        <span *ngIf="id && id.invalid && id.touched">invalid Id</span>

        <input placeholder="Enter the Employee's Name" formControlName="employee_name" /><br />
        <span *ngIf="employee_name && employee_name.invalid && employee_name.touched">invalid name</span>

        <input type="number" placeholder="Enter the Employee's Salary" formControlName="employee_salary" /><br />
        <span *ngIf="employee_salary && employee_salary.invalid && employee_salary.touched">invalid salary</span>

        <input type="number" placeholder="Enter the Employee's Age" formControlName="employee_age" /><br />
        <span *ngIf="employee_age && employee_age.invalid && employee_age.touched">invalid age</span>

        <button [disabled]="postFormData.invalid" class="btn-success" (click)="handleAdd()">Add</button><br/>
        <button [disabled]="postFormData.invalid" class="btn-secondary" (click)="handleUpdate()">Update</button>

    </div>
</form>