<form [formGroup]="postFormData" >
    <div class="main">
        <input  placeholder="Enter the Employee's ID" formControlName="id"/><br />
        <input  placeholder="Enter the Employee's Name" formControlName="employee_name" /><br/>
        <input type="number" placeholder="Enter the Employee's Salary" formControlName="employee_salary" /><br/>
        <input type="number" placeholder="Enter the Employee's Age" formControlName="employee_age" /><br/>
        <button (click)="handleAdd()">Add</button>
    </div>
</form>
<!-- {{postDataForm.value | json}} -->