<div>
    <table>
            <thead>
                <tr>
                    <th>Employee_ID</th>
                    <th>Employee_Name</th>
                    <th>Employee_Salary</th>
                    <th>Employee_Age</th>
                    <th>Delete</th>
                    <th>Edit/Upgrade</th>
                </tr>
            </thead>
             <tbody>
            
                    <tr *ngFor="let user of user" >
                        <td>{{user.id}}.</td>
                        <td>{{user.employee_name}}</td>
                        <td>{{user.employee_salary}}</td>
                        <td>{{user.employee_age}}</td>
                        <td><button (click) = "handleDelete(user.id)">Delete</button></td>
                        <td><button (click) = "handleEdit(user)">Edit/Update</button></td>
                    </tr>

            </tbody>
    </table>
  </div>
  

